html, body
{
  font-family: 'Helvetica', serif;
  color: #37474F;
  font-size: 18px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 0;
}
nav
{
  margin: 0;
  background-color: #100e17;
  z-index: 0;
}

.App {
    margin: 1rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .App h1
  {
    font-size: 82px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  #inputContainer
  {
    width: 30rem;
    margin: 0 auto;
    position: relative;
  }
  .no-tasks
  {
    font-size: 1.2rem;
  }


input#primary-input
  {
    box-sizing: border-box;
    width: 30rem;
    height: 2.87rem;
    /* border: solid 1px #37474F; */
    padding: 15px;
    line-height: 21px;
    font-size: 18px;
  }

.App div#inputContainer input
{

}

button#primary-input-button
{
    font-size: 18px;
    height: 2.87rem;
    width: 2.87rem;
}

button
{

    border: none;
	color: #fff;
    background-color:  #dd8c26;

}

div#inputContainer button
{
   position: absolute;
   right: 0;
}

  div#img-container img
  {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
  }

  div#img-container
  {
    padding: 0;
    display: inline-block;
  }
section#side-nav
{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 200px;
  height: 100vh;
  background-color: #2E2E2E;
}
   