html, body
{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:#202020; 
  font-size: 18px;
  background-color: #fff;
  border-right: 1px solid #f1f1f1;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 0;
}
nav
{
  margin: 0;
  background-color: #3d3d3d;
  z-index: 0;
  height: 50px;
}

.App {
    margin: 1rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .App h1
  {
    font-size: 82px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  #inputContainer
  {
    width: 30rem;
    margin: 0 auto;
    position: relative;
  }

  #inputContainer input
  {
	border: solid 1px #f1f1f1;
  }
  .no-tasks
  {
    font-size: 1.2rem;
  }


input#primary-input
  {
    box-sizing: border-box;
    width: 30rem;
    height: 2.87rem;
    /* border: solid 1px #37474F; */
    padding: 15px;
    line-height: 21px;
    font-size: 18px;
  }

.App div#inputContainer input
{

}

button#primary-input-button
{
    font-size: 18px;
    height: 2.87rem;
    width: 2.87rem;
}

button
{

    border: none;
	color: #fff;
    background-color:  #3d3d3d;

}

div#inputContainer button
{
   position: absolute;
   right: 0;
}

  div#img-container img
  {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
  }

  div#img-container
  {
    padding: 0;
    display: inline-block;
  }
section#side-nav
{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 200px;
  height: 100vh;
  background-color:#fafafa;
  border-right:  1px solid #f1f1f1;
}
div.edit-task
{
  display: inline-block;
  text-align: left;

}

div.edit-task button
{
		
	padding: 10px;
  	margin: 10px 10px;

}

div.render-editing button
{
  display: none;
}

div#todo-list
{
  padding: 20px;
}


form.todo-item
{
	display: inline-block;
}

form.todo-item-active
{
	
}

input
{
	line-height: 21px;
	padding: 8px 8px 8px 0;
	width: 522px;
	height: 37px;
	font-size: 18px;
	border: none;
	border-bottom: solid 1px #f1f1f1;
}

input:disabled
{
	background-color: #fff;
}

	

